.card-container {
  height: 350px;
  padding: 0;
  top: 20px;
  width: 330px;
  margin-left: 35%;
  margin-right: 35%;
  position: relative;
  margin: 12px;
  box-sizing: border-box;
}

.card-container.flipped .front {
  transform: rotateY(180deg);
}

.card-container.flipped .back {
  transform: rotateY(0deg);
}
.card-container .front,
.back {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: block;
  background: #f8f6ea;
  box-shadow: 10px 10px 5px #d3d3d3;
  padding: 10px;
  position: absolute;
  border-radius: 10px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: -webkit-transform ease 500ms;
  transition: transform ease 500ms;
}

.card-container .front {
  z-index: 2;
  transform: rotateY(0deg);
  /* front tile styles go here! */
}

.card-container .back {
  background: #f8f6ea;
  transform: rotateY(-180deg);
  padding: 20px;
  font-size: 20px;
  /* back tile styles go here! */
}

@media (max-width: 600px) {
  .card-container {
    margin-left: 0%;
  }
}
