.outlined-button {
  background-color: white;
  color: #161616;
  border: 2px solid #f44336;
  font-family: 'Lato';
  font-weight: 'bold';
}

.outlined-button:hover {
  background-color: #f44336;
  color: white;
}

.loader {
  min-height: calc(100vh - 76px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: Lato;
  font-weight: bold;
  font-size: 22px;
}

.description {
  font-family: Muli;
  font-size: 16px;
}

.highlighter {
  text-transform: capitalize;
  font-family: Muli;
  color: #3499f2;
}

.creatorsContainer {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  .creatorsContainer {
    display: block;
  }
}
